.head {
    background-color: lightgray;
  }
  
  .head div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .head h1 {
    margin: 0;
  }
  
  .head ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .head li {
    margin-right: 10px;
  }
  
  .head a {
    text-decoration: none;
    color: black;
  }
  
  En el ejemplo anterior, se han utilizado propiedades CSS para establecer la apariencia y el diseño de la barra de navegación horizontal:
  
      Se ha aplicado un color de fondo (background-color) de gris claro a la clase .head.
      Se ha utilizado la propiedad display: flex para el contenedor interno (div) del encabezado, lo que permite que los elementos se coloquen en una fila horizontal.
      justify-content: space-between alinea los elementos del contenedor a los extremos, creando espacio entre ellos.
      align-items: center alinea verticalmente los elementos en el centro del contenedor.
      Se han aplicado márgenes, rellenos y estilos
  
  