.head {
    background-color: lightgray;
  }
  
  .head div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .head h1 {
    margin: 0;
    font-family: sans-serif
  }
  
  .head ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .head li {
    margin-right: 10px;
  }
  
  .head a {
    text-decoration: none;
    color: black;
  }
  
  